/* 首页样式 */
/* 版心,哪个需要居中就用哪个 */
.wrapper{
    margin: 0 auto;
    width: 1200px;

}
body{
    background-color: #f3f5f7;
}
/* 头部区域 */
.header{
    width: 1920px;
    height: 100px;
    background-color: #fff;
}
.header .wrapper{
    padding-top: 29px;
    display: flex;
}
/* logo */
.logo a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}
/* 导航 */
.nav{

    margin-left: 102px;
}
.nav ul{
    display: flex;
}
.nav li{
    margin-right: 24px;
}
.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}
/* 选中的a下划线 */
.nav li .active,
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}
/* 搜索 */
.search{
    display: flex;
    flex: 1;
    margin-left: 64px;
    padding-left:19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;

}
.search input{
    flex: 1;
    border: 0 solid #000;
    background-color: transparent;
    /* 透明设置，或者和背景色一样 */
    outline: none;
    /* 去掉焦点提示框 */
}
/* 选中palceholder样式控制期 */
.search input::placeholder{
    font-size: 14px;
    color: #999;
}
.search a{
    /* margin: 12px 12px 12px 0; */
    align-self: center;
    /* 居中 */
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}
/* 用户 */
.user {
    margin-left: 32px;
    margin-top: 4px;
}
.user img{
    margin-right:7px ;
    /* 行内块和行内垂直对齐方式 */
    vertical-align: middle;

}
.user span{
    font-size: 16px;
    color: #666;
}

/* banner */
.banner {
	width: 1920px;
	height: 420px;
    background-color: #0092cc;
}
.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}
/* 测导航 */
.banner .left{
    padding: 13px 20px;
    width: 191px;
    height: 420px;
    background-color: #000;
    opacity: 0.42;
}
.banner .left a{
    display: block;
    height: 46px;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}
.banner .left a:hover{
    color: #00a4ff;
    background-image: url(../images/right-hover.png);
}
.banner .right{
    margin: 60px;
    width: 218px;
    height: 315px;
    background-color: #209dd5;
    border-radius: 10px;
}
.banner .right h3{
    font-size: 15px;
    color: #fff;
    margin: 18px 0 0 14px;
    height: 48px;

}
.banner .right .content{
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}
.banner .right dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.banner .right dt{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700px;
}

.banner .right dd{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}
.banner .right dd{
    color: #0092cc;
}
.banner .right dd strong{
    color: #666;
    font-weight: 400;
}
.banner .right a{
    display: block;
    height: 32px;
    background-color: #00a4ff;
    border-radius: 15px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
}

/* 推荐 */
.recommend{
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    width: 1200px;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px 
    rgba(211, 211, 211, 0.5);
    /* text-align: center; */
    line-height: 60px;

}
.recommend h3{
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}
.recommend ul{
    display: flex;
    /* 除去标题和修改兴趣，剩余尺寸交给ul */
    flex: 1;
}
.recommend ul a{
    padding: 0 24px;
    border-right: 1px solid #000;
    font-size: 18px;
}
.recommend ul li:last-child a{
    border-right: 0px solid #000;
}
.recommend .modify{
    color: #00a4ff;
    font-size: 16px;

}
/* 课程 */
.course{
    /* display: flex; */
    justify-content: space-between;
    margin-top: 15px;
    
}
/* 因为有很多类似样式所以采用统一的写法,公共类 */
.hd{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;

}
.hd h3{
    font-size: 21px;
    font-weight: 400;
}
.hd .more{
    padding-right: 20px;
    background-image: url(../images/more.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 14px;
    color: #999;
}
.bd ul{
    display: flex;
    flex-wrap: wrap;
    /* 自动换行 */
    justify-content: space-between;

}
.bd li{
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: #0f0;

}
.bd li .pic{
    height: 156px;

}
.bd li .text{
    padding: 20px;
    height: 115px;
    background-color: #fff;
}
.bd li .text h4{
    margin-bottom:13px ;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;

}
.bd li .text p{
    font-size: 14px;
    line-height: 20px;
    color: #999;
}
.bd li .text p span{
    color: #fa6400;
}
.bd li .text p i{
    font-style: normal;
    /* 不倾斜 */
}
/* 前端 */
.hd ul{
    display: flex;
} 
.hd li{
    margin-right: 60px;
    font-size: 16px;
}
.hd li .active{
    color: #0092cc;
}
.bd {
    display: flex;
    justify-content: center;
}
.bd .left{
    background-color: #00f;
}
.bd .right{
    /* background-color: #0f0; */
}
.bd .right .top{
    margin-bottom: 15px;
    height: 100px;
}
/* 版权 */
.footer{

    margin-top: 60px;
    padding-top: 60px;

    height: 273px;
    background-color: #fff;
}
.footer .wrapper{
    display: flex;
    justify-content: space-between;
}
.footer .left{
    width: 444px;
    /* background-color: #f00; */
}
.footer .wrapper .left p{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 17px;
    color: #666;
}
.footer .left .download{
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00e;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
}
.footer .right{
    display: flex;

}
.footer .right dl{
    margin-right: 130px;
}
.footer .right dt{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 23px;
}
.footer .right a{
    font-size: 14px;
    color: #666;
}